.printHeadingTable, .printSignatureTable, .printSignatureTable tr td table{
  width:100%;
  margin: 10px;
}

.printHeadingTable tr td{
  height: 30px;
}

.printSignatureInnerTable{
  margin:10px;
}

.signature{
  width:80%;
  margin: 10px;
  padding: 10px;
  height:40px;
  border-bottom: 1px solid black;
}
