<!-- BEGIN PAGE HEAD -->
<div class="page-head">
  <div class="container">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1><i class="fa fa-area-chart fa-2x font-purple-plum"></i> Invoicing Report Setup
        <small>configure your invoicing report</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
</div>
<!-- END PAGE HEAD -->
<!-- BEGIN PAGE CONTENT -->
<div class="page-content">
  <div class="container">

    <div class="portlet light">
      <div class="portlet-body">

        <div class="portlet light bordered margin-top-10 hidden-print">
          <div class="portlet-title">
            <div class="caption font-purple-plum">
              <i class="fa fa-cogs font-purple-plum"></i>
              <span class="caption-subject bold uppercase"> Report Settings</span>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row" style="margin-top: 10px">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Project:</span>
                  <select class="form-control" aria-describedby="basic-addon2">
                    <option></option>
                    <option value="Arnold">Umhlanga Home</option>
                    <option value="Tony Blair">Project One</option>
                    <option value="Ken Livingston" selected>Shopping Mall Project</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">Supplier:</span>
                  <select class="form-control" aria-describedby="basic-addon2">
                    <option></option>
                    <option value="Arnold" selected>FormScaff</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="row" style="margin-top: 10px">
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">From Date:</span>
                  <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                    <input type="text" class="form-control" readonly="">
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i>
                        </button>
												</span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="input-group">
                  <span class="input-group-addon">To Date:</span>
                  <div class="input-group input-medium date date-picker" data-date-format="dd-mm-yyyy">
                    <input type="text" class="form-control" readonly="">
												<span class="input-group-btn">
												<button class="btn default" type="button"><i class="fa fa-calendar"></i>
                        </button>
												</span>
                  </div>
                </div>
              </div>

            </div>
            <div class="row" style="margin-top:10px; margin-bottom: 10px;">
              <div class="form-group">
                <label class="col-md-2 control-label">Show Columns</label>

                <div class="col-md-8">
                  <div class="checkbox-list">
                    <label class="checkbox-inline">
                      <div class="checkerX" id="uniform-inlineCheckbox23"><span><input type="checkbox"
                                                                                       id="inlineCheckbox23"
                                                                                       value="option3"></span></div>
                      Mass </label>
                    <label class="checkbox-inline">
                      <div class="checkerX" id="uniform-inlineCheckbox24"><span><input type="checkbox"
                                                                                       id="inlineCheckbox24"
                                                                                       value="option4"></span></div>
                      M<sub>2</sub> </label>
                    <label class="checkbox-inline">
                      <div class="checkerX" id="uniform-inlineCheckbox25"><span><input type="checkbox"
                                                                                       id="inlineCheckbox25"
                                                                                       value="option5"></span></div>
                      Rands/week </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix">
              <div class="pull-right">
                <a class="btn purple-plum" href=""><i class="fa fa-area-chart"></i> Generate Report</a>
              </div>
            </div>
          </div>
        </div>

        <div class="portlet light margin-top-10">
          <div class="portlet-title">
            <div class="caption font-purple-plum">
              <i class="fa fa-area-chart font-purple-plum"></i>
              <span class="caption-subject bold uppercase"> Invoicing Report </span>
            </div>
            <div class="actions hidden-print">
              <button class="btn btn-priamry" onclick="javascript:window.print();"><i class="fa fa-print"></i> Print
              </button>
            </div>
          </div>
          <div class="portlet-body">
            <div class="row">
              <span class="col-md-4">
                <span class="form-group">
                  <label class="control-label"><strong>Project:</strong></label>

                  <p class="form-control-static">Shopping Mall Project</p>
                </span>
              </span>
              <!--/span-->
              <span class="col-md-4">
                <span class="form-group">
                  <label class="control-label"><strong>Supplier:</strong></label>

                  <p class="form-control-static">FormScaff</p>
                </span>
              </span>
              </div>
            <div class="row">
              <span class="col-md-4">
                <span class="form-group">
                  <label class="control-label"><strong>Report Date:</strong></label>

                  <p class="form-control-static">26/01/2015</p>
                </span>
              </span>
              <span class="col-md-4">
                <span class="form-group">
                  <label class="control-label"><strong>Report Period:</strong></label>

                  <p class="form-control-static">29/11/2014 <strong>to</strong> 26/12/2014</p>
                </span>
              </span>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Opening balance as at 29 Nov 2014</strong></h4>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Balance onsite</th>
                    <th>Mass</th>
                    <th>Rate</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>0135301</td>
                    <td>Connector Kwikstage</td>
                    <td>300</td>
                    <td>0.38</td>
                    <td>R12.09</td>
                    <td>R3,627.00</td>
                  </tr>
                  <tr>
                    <td>0135302</td>
                    <td>Copper swivel 50X50</td>
                    <td>200</td>
                    <td>1.48</td>
                    <td>R45.40</td>
                    <td>R9,080.00</td>
                  </tr>
                  <tr>
                    <td>0135303</td>
                    <td>Form solider 3600</td>
                    <td>710</td>
                    <td>2.3</td>
                    <td>R46.69</td>
                    <td>R33,149.90</td>
                  </tr>
                  <tr>
                    <td>0135304</td>
                    <td>Kwikstage 610 R/o Tube Base Jack</td>
                    <td>120</td>
                    <td>1.64</td>
                    <td>R9.63</td>
                    <td>R1,115.60</td>
                  </tr>
                  <tr>
                    <td>0135305</td>
                    <td>Kwikstage 610 R/o Tube U Head Jack</td>
                    <td>100</td>
                    <td>0.9</td>
                    <td>R4.72</td>
                    <td>R472.00</td>
                  </tr>
                  <tr>
                    <td>0135306</td>
                    <td>Kwikstage Jack Extension</td>
                    <td>15</td>
                    <td>1</td>
                    <td>R52.00</td>
                    <td>R780.00</td>
                  </tr>
                  <tr>
                    <td>0135307</td>
                    <td>Kwikstage LEdger 1294 (1246 orange)</td>
                    <td>1</td>
                    <td>5.38</td>
                    <td>R3.61</td>
                    <td>R3.61</td>
                  </tr>
                  <tr>
                    <td>0135308</td>
                    <td>Kwikstage Ledge 800 (752 purple)</td>
                    <td>10</td>
                    <td>3.98</td>
                    <td>R3.61</td>
                    <td>R36.10</td>
                  </tr>
                  <tr>
                    <td>0135309</td>
                    <td>Kwikstage Ledger 900 (852 pink)</td>
                    <td>6</td>
                    <td>8.38</td>
                    <td>R349.69</td>
                    <td>R2,098.14</td>
                  </tr>
                  <tr>
                    <td>0135310</td>
                    <td>Connector Kwikstage</td>
                    <td>10</td>
                    <td>9</td>
                    <td>R89.06</td>
                    <td>R890.60</td>
                  </tr>
                  <tr>
                    <td>0135311</td>
                    <td>Kwikstage standard 2000</td>
                    <td>1</td>
                    <td>0.38</td>
                    <td>R3.61</td>
                    <td>R3.61</td>
                  </tr>
                  <tr>
                    <td>1105118</td>
                    <td>Toe Board 1500</td>
                    <td>64</td>
                    <td>1.38</td>
                    <td>R22.00</td>
                    <td>R1,408.00</td>
                  </tr>
                  <tr>
                    <td>1105119</td>
                    <td>Toe Board 2000</td>
                    <td>110</td>
                    <td>1.00</td>
                    <td>R29.19</td>
                    <td>R3,210.90</td>
                  </tr>
                  <tr>
                    <td>1105120</td>
                    <td>Toe Board 2500</td>
                    <td>64</td>
                    <td>1.00</td>
                    <td>R45.27</td>
                    <td>R2,897.28</td>
                  </tr>
                  <tr>
                    <td>1105121</td>
                    <td>Toe Board Clip</td>
                    <td>329</td>
                    <td>3.00</td>
                    <td>R9.04</td>
                    <td>R2,974.16</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">Total cost per week:</th>
                    <th>R61,786.90</th>
                  </tr>
                  <tr>
                    <th colspan="5" class="text-right">Hire Charge From 29 NOV 2014 To 26 DEC 2014 (4 weeks):</th>
                    <th>R247,147.60</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Delivery</strong></h4>
                <table class="printHeadingTable">
                  <tr>
                    <th>Zone:</th>
                    <td>North Building</td>
                    <th>Doc #:</th>
                    <td>65647 OP 150707</td>
                    <th>Date:</th>
                    <td>26/11/2014</td>
                  </tr>
                </table>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Delivered</th>
                    <th>Mass</th>
                    <th>Rate</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1105077</td>
                    <td>Hook-on Board 2000 Non Tilt</td>
                    <td>200</td>
                    <td>0.38</td>
                    <td>R45.40</td>
                    <td>R9,080.00</td>
                  </tr>
                  <tr>
                    <td>1105121</td>
                    <td>Toe Board Clip</td>
                    <td>62</td>
                    <td>41</td>
                    <td>R9.04</td>
                    <td>R560.48</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">Total Cost Per Week:</th>
                    <th>R9,640.48</th>
                  </tr>
                  <tr>
                    <th colspan="5" class="text-right">Hire Charge From 26 NOV 2014 To 26 DEC 2014 (4.429 weeks):</th>
                    <th>R9,640.48</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Delivery</strong></h4>
                <table class="printHeadingTable">
                  <tr>
                    <th>Zone:</th>
                    <td>North Building</td>
                    <th>Doc #:</th>
                    <td>HD49030610</td>
                    <th>Date:</th>
                    <td>27/11/2014</td>
                  </tr>
                </table>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Delivered</th>
                    <th>Mass</th>
                    <th>Rate</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1105077</td>
                    <td>Hook-on Board 2000 Non Tilt</td>
                    <td>32</td>
                    <td>12</td>
                    <td>R45.40</td>
                    <td>R1,452.80</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">Total Cost Per Week:</th>
                    <th>R1,452.80</th>
                  </tr>
                  <tr>
                    <th colspan="5" class="text-right">Hire Charge From 27 NOV 2014 To 26 DEC 2014 (4.486 weeks):</th>
                    <th>R6,226.28</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Return</strong></h4>
                <table class="printHeadingTable">
                  <tr>
                    <th>Zone:</th>
                    <td>North Building</td>
                    <th>Doc #:</th>
                    <td>HD630998</td>
                    <th>Date:</th>
                    <td>11/12/2014</td>
                  </tr>
                </table>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Returned</th>
                    <th>Mass</th>
                    <th>Rates</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1905059</td>
                    <td>Coupler Swivel 50X50 (galvanised)</td>
                    <td>0.38</td>
                    <td>500</td>
                    <td>R5.66</td>
                    <td>R2,830.00</td>
                  </tr>
                  <tr>
                    <td>1105076</td>
                    <td>Hook-on Board 2500 Non Tilt</td>
                    <td>1.48</td>
                    <td>157</td>
                    <td>R46.69</td>
                    <td>R7,330.33</td>
                  </tr>
                  <tr>
                    <td>1105005</td>
                    <td>Kwik-stage Standard 3000</td>
                    <td>0.12</td>
                    <td>200</td>
                    <td>R28.37</td>
                    <td>R5,674.00</td>
                  </tr>
                  <tr>
                    <td>1150021</td>
                    <td>Pallet Fitting 1000X1000</td>
                    <td>0.50</td>
                    <td>1</td>
                    <td>R3.61</td>
                    <td>R3.61</td>
                  </tr>
                  <tr>
                    <td>1150020</td>
                    <td>Pallet Tubular 1000X1000</td>
                    <td>0.56</td>
                    <td>3</td>
                    <td>R3.61</td>
                    <td>R10.83</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">Total Cost Per Week:</th>
                    <th>R15,848.78</th>
                  </tr>
                  <tr>
                    <th colspan="5" class="text-right">Hire Charge From 28 NOV 2014 To 26 DEC 2014 (-4.143):</th>
                    <th>R-65,659.22</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Delivery</strong></h4>
                <table class="printHeadingTable">
                  <tr>
                    <th>Zone:</th>
                    <td>North Building</td>
                    <th>Doc #:</th>
                    <td>HD49030635</td>
                    <th>Date:</th>
                    <td>28/11/2014</td>
                  </tr>
                </table>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Delivered</th>
                    <th>Mass</th>
                    <th>Rates</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1905059</td>
                    <td>Coupler Swivel 50X50 (galvanised)</td>
                    <td>0.38</td>
                    <td>500</td>
                    <td>R5.66</td>
                    <td>R2,830.00</td>
                  </tr>
                  <tr>
                    <td>1105076</td>
                    <td>Hook-on Board 2500 Non Tilt</td>
                    <td>1.48</td>
                    <td>157</td>
                    <td>R46.69</td>
                    <td>R7,330.33</td>
                  </tr>
                  <tr>
                    <td>1105005</td>
                    <td>Kwik-stage Standard 3000</td>
                    <td>0.12</td>
                    <td>200</td>
                    <td>R28.37</td>
                    <td>R5,674.00</td>
                  </tr>
                  <tr>
                    <td>1150021</td>
                    <td>Pallet Fitting 1000X1000</td>
                    <td>0.50</td>
                    <td>1</td>
                    <td>R3.61</td>
                    <td>R3.61</td>
                  </tr>
                  <tr>
                    <td>1150020</td>
                    <td>Pallet Tubular 1000X1000</td>
                    <td>0.56</td>
                    <td>3</td>
                    <td>R3.61</td>
                    <td>R10.83</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">Total Cost Per Week:</th>
                    <th>R15,848.78</th>
                  </tr>
                  <tr>
                    <th colspan="5" class="text-right">Hire Charge From 28 NOV 2014 To 26 DEC 2014 (4.143 weeks):</th>
                    <th>R65,659.22</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Return</strong></h4>
                <table class="printHeadingTable">
                  <tr>
                    <th>Zone:</th>
                    <td>North Building</td>
                    <th>Doc #:</th>
                    <td>HD637512</td>
                    <th>Date:</th>
                    <td>28/11/2014</td>
                  </tr>
                </table>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Returned</th>
                    <th>Mass</th>
                    <th>Rates</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>0140324</td>
                    <td>610 R/o Tube Base Jack</td>
                    <td>0.38</td>
                    <td>600</td>
                    <td>R12.09</td>
                    <td>R3,627.00</td>
                  </tr>
                  <tr>
                    <td>1105077</td>
                    <td>Hook-on Board 2000 Non Tilt</td>
                    <td>1.48</td>
                    <td>432</td>
                    <td>R45.40</td>
                    <td>R19,612.80</td>
                  </tr>
                  <tr>
                    <td>1105076</td>
                    <td>Hook-on Board 2500 Non Tilt</td>
                    <td>0.12</td>
                    <td>710</td>
                    <td>R46.69</td>
                    <td>R33,149.90</td>
                  </tr>
                  <tr>
                    <td>1105023</td>
                    <td>Kwik-stage Ledger 1500 (1452-white)</td>
                    <td>0.50</td>
                    <td>120</td>
                    <td>R9.63</td>
                    <td>R1,155.60</td>
                  </tr>
                  <tr>
                    <td>1105000</td>
                    <td>Kwik-stage Standard 500</td>
                    <td>0.56</td>
                    <td>100</td>
                    <td>R4.72</td>
                    <td>R472.00</td>
                  </tr>
                  <tr>
                    <td>1105504</td>
                    <td>Ladder Hook-on Type 2000</td>
                    <td>1.16</td>
                    <td>15</td>
                    <td>R52.00</td>
                    <td>R780.00</td>
                  </tr>
                  <tr>
                    <td>1150021</td>
                    <td>Pallet Fitting 1000X1000</td>
                    <td>1.00</td>
                    <td>1</td>
                    <td>R3.61</td>
                    <td>R3.61</td>
                  </tr>
                  <tr>
                    <td>1150020</td>
                    <td>Pallet Tubular 1000X1000</td>
                    <td>1.15</td>
                    <td>10</td>
                    <td>R3.61</td>
                    <td>R36.10</td>
                  </tr>
                  <tr>
                    <td>1105500</td>
                    <td>Staircase 2500X600 Wide</td>
                    <td>0.20</td>
                    <td>6</td>
                    <td>R349.69</td>
                    <td>R2,098.14</td>
                  </tr>
                  <tr>
                    <td>1105511</td>
                    <td>Staircase Centre Handrail</td>
                    <td>0.25</td>
                    <td>10</td>
                    <td>R89.06</td>
                    <td>R890.60</td>
                  </tr>
                  <tr>
                    <td>1150028</td>
                    <td>Stillage Type C 1000X1000</td>
                    <td>0.15</td>
                    <td>1</td>
                    <td>R3.61</td>
                    <td>R3.61</td>
                  </tr>
                  <tr>
                    <td>1105118</td>
                    <td>Toe Board 1500</td>
                    <td>0.60</td>
                    <td>64</td>
                    <td>R22.00</td>
                    <td>R1,408.00</td>
                  </tr>
                  <tr>
                    <td>1105119</td>
                    <td>Toe Board 2000</td>
                    <td>0.50</td>
                    <td>110</td>
                    <td>R29.19</td>
                    <td>R3,210.90</td>
                  </tr>
                  <tr>
                    <td>1105120</td>
                    <td>Toe Board 2500</td>
                    <td>0.55</td>
                    <td>64</td>
                    <td>R45.27</td>
                    <td>R2,897.28</td>
                  </tr>
                  <tr>
                    <td>1105121</td>
                    <td>Toe Board Clip</td>
                    <td>0.85</td>
                    <td>391</td>
                    <td>R9.04</td>
                    <td>R3,534.64</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="5" class="text-right">Total Cost Per Week:</th>
                    <th>R72,880.18</th>
                  </tr>
                  <tr>
                    <th colspan="5" class="text-right">Hire Charge From 29 NOV 2014 To 26 DEC 2014 (-4 weeks):</th>
                    <th>R-291,520.72</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="portlet light bordered">
              <div class="portlet-title">
                <h4><strong>Closing Balance as at 26 DEC 2014</strong></h4>
              </div>
              <div class="portlet-body">
                <table class="table table-striped table-condensed table-hover">
                  <thead class="flip-content">
                  <tr>
                    <th>Code</th>
                    <th>Description</th>
                    <th>Bfwd</th>
                    <th>Delivered</th>
                    <th>Returned</th>
                    <th>Rate</th>
                    <th>Total Cost</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>0140324</td>
                    <td>610 R/o Tube Base Jack</td>
                    <th>300</th>
                    <td>0</td>
                    <td>300</td>
                    <td>R12.09</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105000</td>
                    <td>Kwik-stage Standard 500</td>
                    <th>100</th>
                    <td>0</td>
                    <td>100</td>
                    <td>R4.72</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105005</td>
                    <td>Kwik-stage Standard 3000</td>
                    <th>0</th>
                    <td>200</td>
                    <td>200</td>
                    <td>R28.37</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105023</td>
                    <td>Kwik-stage Ledger 1500 (1452-white)</td>
                    <th>120</th>
                    <td>0</td>
                    <td>120</td>
                    <td>R9.63</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105076</td>
                    <td>Hook-on Board 2500 Non Tilt</td>
                    <th>710</th>
                    <td>157</td>
                    <td>867</td>
                    <td>R46.69</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105077</td>
                    <td>Hook-on Board 2000 Non Tilt</td>
                    <th>200</th>
                    <td>232</td>
                    <td>432</td>
                    <td>R45.40</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105118</td>
                    <td>Toe Board 1500</td>
                    <th>64</th>
                    <td>0</td>
                    <td>64</td>
                    <td>R22.00</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105119</td>
                    <td>Toe Board 2000</td>
                    <th>110</th>
                    <td>0</td>
                    <td>110</td>
                    <td>R29.19</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105120</td>
                    <td>Toe Board 2500</td>
                    <th>64</th>
                    <td>0</td>
                    <td>64</td>
                    <td>R45.27</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105121</td>
                    <td>Toe Board Clip</td>
                    <th>329</th>
                    <td>62</td>
                    <td>391</td>
                    <td>R9.04</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105500</td>
                    <td>Staircase 2500X600 Wide</td>
                    <th>6</th>
                    <td>0</td>
                    <td>6</td>
                    <td>R349.69</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105504</td>
                    <td>Ladder Hook-on Type 2000</td>
                    <th>15</th>
                    <td>0</td>
                    <td>15</td>
                    <td>R52.00</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1105511</td>
                    <td>Staircase Centre Handrail</td>
                    <th>10</th>
                    <td>0</td>
                    <td>10</td>
                    <td>R89.06</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1150020</td>
                    <td>Pallet Tubular 1000X1000</td>
                    <th>10</th>
                    <td>3</td>
                    <td>13</td>
                    <td>R3.61</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1150021</td>
                    <td>Pallet Fitting 1000X1000</td>
                    <th>1</th>
                    <td>1</td>
                    <td>2</td>
                    <td>R3.61</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1150028</td>
                    <td>Stillage Type C 1000X1000</td>
                    <th>1</th>
                    <td>0</td>
                    <td>1</td>
                    <td>R3.61</td>
                    <td>R0.00</td>
                  </tr>
                  <tr>
                    <td>1905059</td>
                    <td>Coupler Swivel 50x50 (galvanised)</td>
                    <th>0</th>
                    <td>500</td>
                    <td>500</td>
                    <td>R5.66</td>
                    <td>R0.00</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th colspan="6" class="text-right">Total Cost Per Week:</th>
                    <th>R0.00</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
